<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Послуги</title>
</head>

<body>
<section layout:fragment="content">
    <h1>Послуги</h1>
    <h4>Наш процес виготовлення склопластикових виробів: від ідеї до готового результату</h4>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                    Інспекція та узгодження плану робот на місці майбутнього об‘єкту.
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <strong>Виїзд на об’єкт та заміри</strong>
                    Після отримання вашого запиту ми оперативно приїжджаємо за вказаною адресою для виконання всіх необхідних замірів. Наші фахівці ретельно аналізують особливості об’єкта, щоб у подальшому забезпечити точність та високу якість виробу.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Проектування і розробка плану робот згідно специфікацій.
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong> Узгодження технічного завдання</strong>
                    <p> Разом із вами ми формуємо чітке та зрозуміле технічне завдання. На цьому етапі обговорюються всі деталі: від функціональних вимог до дизайну, щоб ваше замовлення повністю відповідало вашим очікуванням.                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Створення кресельних робіт згідно макету.
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong> Деталізований план робіт</strong>
                    <ul>Ми створюємо детальний план робіт, у якому враховуємо:
                        <li> Точні терміни виконання замовлення.</li>
                        <li>Послідовність етапів виготовлення.</li>
                        <li>Узгодження специфікацій і конструктивних особливостей.</li>
                    </ul>
                    Цей етап допомагає уникнути непорозумінь і забезпечує прозорість усього процесу.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Розрахунок вартості роботи та матеріалів.
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong> Розробка креслень та підготовка матеріалів</strong>
                    Ми створюємо детальні креслення вашого майбутнього виробу відповідно до специфікацій. Наші інженери враховують усі технічні вимоги, що гарантує точність виготовлення. Паралельно ми проводимо детальний розрахунок необхідних матеріалів та їх вартості, щоб ви одразу отримали чіткий бюджет.                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Створення матриці.
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                <div class="accordion-body">
                    На основі креслень ми створюємо матрицю, яка стане основою для виробництва вашого замовлення. Цей етап є надзвичайно важливим, адже матриця визначає форму, якість і надійність кінцевого продукту.                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Відлиття, шліфування та підгонка виробу згідно узгодженого макета.
                </button>
            </h2>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>Виробництво продукції</strong>
                    Ваш виріб створюється з використанням найсучасніших технологій та матеріалів. Шар за шаром полімерною смолою проклеюються шари склопластику, формуючи міцний і довговічний продукт. Після затвердіння ми знімаємо виріб із матриці й ретельно проводимо його шліфування та підгонку відповідно до креслень.
                    Наші майстри виконують фінальні полірувальні роботи, щоб надати виробу бездоганний зовнішній вигляд. На цьому етапі також перевіряється точність відповідності всім вимогам клієнта.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Транспортування та монтаж виробу на місці зазначеним замовником.
                </button>
            </h2>
            <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>Доставка та монтаж</strong>
                    Ми організовуємо транспортування готового виробу до зазначеного вами місця. За необхідності наші спеціалісти проведуть монтаж і встановлення на об’єкті. Ви отримаєте готове рішення, яке повністю відповідає вашим потребам.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Надання гарантійної підтримки впродовж експлутаційного періоду.
                </button>
            </h2>
            <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Ми цінуємо наших клієнтів, тому залишаємося на зв’язку навіть після завершення проекту. Ви отримуєте гарантійну підтримку на весь експлуатаційний період виробу. Термін гарантії визначається індивідуально для кожного замовлення, забезпечуючи вам впевненість у якості нашої роботи.
                </div>
            </div>
        </div>

    </div>
    <div th:each="feature : ${features}">
        <div th:text="${feature}"></div>
    </div>
</section>
</body>
</html>
