<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Куполи Кам'янське, головна сторінка</title>
</head>

<body>

<section layout:fragment="content">
    <h1>Куполи Кам'янське - ми найкращі у своїй справі</h1>
    <p>Ласкаво просимо на головну сторінку!</p>
    <p>Ми компанія, яка займається моделюванням розробкою виробів зі склопластику.
        Ми спеціалізуємось на розробці підкупольників для церков та на виробах промислової діяльності.
        Ми пропонуємо повний цикл послуг із розробки та виготовлення склопластикової продукції, приділяючи особливу увагу деталям і комфорту наших клієнтів.</p>
    <p>Завдяки досвіду та відданості своїй справі, наша продукція відрізняється високою якістю та довговічністю.
        На сьогоднішній день нашим головним пріоритетом є досягнення відмінних результатів і повного задоволення клієнтів завдяки нашій компетентності та гнучкості.</p>
    <p>З 2010 року компанія успішно реалізувала понад десять проєктів у Дніпровському регіоні.</p>
    Чому варто обрати нас?



    <ul>
        <li> Ми працюємо з інноваційними матеріалами, що забезпечують міцність, довговічність і естетику ваших виробів.

        <li> Наш підхід орієнтований на потреби клієнта: ви отримуєте індивідуальні рішення, які ідеально підходять для ваших умов.

        <li> Повна прозорість на кожному етапі роботи.
    </ul>


    З нами ваші ідеї набувають форми, яка втілює сучасність, міцність і стиль. Звертайтеся — ми готові реалізувати навіть найскладніші завдання!
    <p>Ми з радістю обговоримо з вами ваші побажання та розробимо спеціальне рішення для вас за найкращими цінами.</p>
    <p>Ми працюємо для вас!</p>
</section>


</body>
</html>
